In [2]:
import pandas as pd
df = pd.read_json("Hechos.json")
df

   id  Catidad de estudiantes aprobaron Carrera con mas reprobaciones
0   1                                 8               Quimica y Civil
1   2                                 8               Quimica y Civil

In [3]:
import pandas as pd
df = pd.read_csv("MOCK_DATA.csv")
df

,id,Nombre,Apellido,Carrera,Asignatura,Periodo_2021,Aprobo
0,1,Jorie,Nancekivell,Ing Civil,Filosofia,2,si
1,2,Brody,Malone,Ing Industrial,Calculo1,3,no
2,3,Riccardo,Maunsell,Ing Electica,Historia,2,si
3,4,Michail,Crumby,Ing Quimica,Programcion1,1,no
4,5,Ganny,Petrina,Ing Electica,Vectores,3,si
5,6,Cicely,Camoys,Ing Civil,Calculo2,2,no
6,7,Christal,Lequeux,Ing Electica,Filosofia,3,si
7,8,Sheeree,MacAne,Ing Industrial,Fisica1,3,si
8,9,Midge,Greenland,Ing Civil,Vectores,2,no
9,10,Saloma,Diboll,Ing Civil,Matematica1,2,no
10,11,Merci,Beckhouse,Ing Quimica,Historia,3,no
11,12,Olvan,Parrish,Ing Electica,Matematica1,2,no
12,13,Monti,Spendley,Ing Mecanica,Fisica1,3,si
13,14,Annie,Fripp,Ing Industrial,Vectores,2,no
14,15,Sawyer,Baldrey,Ing Civil,Fisica1,1,si
15,16,Carlyn,Brychan,Ing Electica,Calculo2,1,no
16,17,Reidar,Landrick,Ing Mecanica,Ecuaciones,2,no
17,18,Sadella,Morville,Ing Sistemas,Filosofia,2,no
18,19,Fiorenze,Kitchingman,Ing Quimica,Calculo2,2,no
19,20,Locke,Gonnard,Ing Mecanica,Filosofia,3,si

In [ ]:
pd.merge(, invoices, on='client_id', how='outer')